header {
    background-color: rgb(13, 20, 19);
    height: 56px;
    padding-bottom: 1rem;
}

main {
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#datos-personales {
    background-color: rgb(51, 84, 88);
}


#foto {
    width: 15rem;
    height: 20rem;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#formacion {
    display: flex;
    background-color: rgb(148, 190, 188);
}

#color-formacion {
    background-color: rgb(218, 218, 218);
}

.contenedor {
    display: grid;
    margin: auto;
}

.fst-italic {
    margin-bottom: 0%;
}

.card {
   
    margin-bottom: 3rem;
    padding: 1rem;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.card img {
    width: 20rem;
    height: 25rem;
    object-fit: contain;
    align-items: center;
    margin: auto;

}

footer {
    background-color: rgb(16, 16, 16);
    height: 56px;
    margin: auto;
    text-align: center;

}

#foto-portafolio {
    width: 100%;
    height: 100%;
}